@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Arcon;
  src: url("./fonts/Arcon-Regular.otf");
  font-display: swap;
}

.root {
  --theme-0: "#fefcfb";
  --theme-1: "#00a8e8";
  --theme-2: "#007ea7";
  --theme-3: "#003459";
  --theme-4: "#00171f";
}

* {
  font-family: Arcon, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
code span {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 400;
}
.button.primary::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  transition: width 0.2s ease-out;
}
.button.primary.selected::after {
  width: 100% !important;
  border-bottom: 3px solid #007ea7;
}
.button.primary:not(.selected)::after {
  width: 0;
  border-bottom: 3px solid #00a8e8;
}
.button.primary:hover::after {
  width: 60%;
}
#fallback-icon {
  width: 20vh;
  height: 20vh;
  display: block;
  animation: pulse 1s linear infinite;
}
#weather-fallback {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: linear-gradient(-75deg, transparent, transparent, #00000040, transparent, transparent);
  animation: gradient 4s ease infinite;
}

@keyframes gradient {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(0.91);
  }
  25% {
    transform: scale(0.9);
  }
  35% {
    transform: scale(0.91);
  }
  65% {
    transform: scale(1.09);
  }
  75% {
    transform: scale(1.1);
  }
  85% {
    transform: scale(1.09);
  }
  100% {
    transform: scale(1);
  }
}
